@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-width));
  }
}

.animate-scroll {
  animation: scroll 8s linear infinite;
}

.paused {
  animation-play-state: paused;
}
